@model Site.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Recuperar contraseña - ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mdl-grid red-bkg resetpass">
    <div class="mdl-cell mdl-cell--8-col mdl-cell--2-offset-desktop">
        <h3>Recuperar contraseña</h3>
        <p>Ingresá el email con el que te registraste para que podamos ayudarte.</p>
        <form action="#" method="#" class="mdl-cell mdl-cell--6-col-desktop mdl-cell--3-offset-desktop mdl-cell--4-col-phone mdl-cell--2-offset-tablet">
            <div class="mdl-cell mdl-cell--10-col mdl-cell--1-offset-desktop mdl-cell--4-col-phone">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="email" id="email" required>
                    <label class="mdl-textfield__label" for="email">Email</label>
                </div>
            </div>

            <div class="mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet display-inline">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">
                    Continuar
                </button>
                @*PENDIENTE: Al presionar continuar debería enviar un mail con un token para que recupere la contraseña
                y luego redirigir a la pagina ResetPasswordConfirmation.*@
            </div>
        </form>

        <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone mdl-cell--8-col-tablet">
            <div class="mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet display-inline">
                <a href="@Url.Content("~/Account/Login")" class="mdl-button mdl-js-button mdl-js-ripple-effect">
                    Iniciar sesión
                </a>
            </div>

            <div class="mdl-cell mdl-cell--6-col mdl-cell--2-col-phone mdl-cell--4-col-tablet display-inline">
                <a href="@Url.Content("~/Account/Register")" class="mdl-button mdl-js-button mdl-js-ripple-effect">
                    Registrarse
                </a>
            </div>
        </div>
    </div>
</div>



@*/////////////// PENDIENTE: LOGIN VIEJO. GONZA CHEQUEA SI SE PUEDE REUTILIZAR ALGO DE LOGICA, SINO BORRARLO. ////////////////*@


@*

    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Reset your password.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Code)
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Reset" />
            </div>
        </div>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@